---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

	




	
	<div id="review"><div>Bewerte diesen Artikel: </div>
                          <img src="//d1qmdf3vop2l07.cloudfront.net/honeydew-helicopter.cloudvent.net/compressed/5bee0eaf3ccd554855fd3d7ec96ec93f.svg" onmouseover="setreviewval(1);" onmouseout="setreviewval(4);" onclick="setreviewvaldef(1);$('#rating').val(1);$('#ratingform').show().attr('action',$('#ratingform').attr('action')+'#rating=1');" data-cms-original-src="/img/star.svg" />
                          <img src="//d1qmdf3vop2l07.cloudfront.net/honeydew-helicopter.cloudvent.net/compressed/5bee0eaf3ccd554855fd3d7ec96ec93f.svg" onmouseover="setreviewval(2);" onmouseout="setreviewval(4);" onclick="setreviewvaldef(2);$('#rating').val(2);$('#ratingform').show().attr('action',$('#ratingform').attr('action')+'#rating=2');" data-cms-original-src="/img/star.svg" />
                          <img src="//d1qmdf3vop2l07.cloudfront.net/honeydew-helicopter.cloudvent.net/compressed/5bee0eaf3ccd554855fd3d7ec96ec93f.svg" onmouseover="setreviewval(3);" onmouseout="setreviewval(4);" onclick="setreviewvaldef(3);$('#rating').val(3);$('#ratingform').show().attr('action',$('#ratingform').attr('action')+'#rating=3');" data-cms-original-src="/img/star.svg" />
                          <img src="//d1qmdf3vop2l07.cloudfront.net/honeydew-helicopter.cloudvent.net/compressed/5bee0eaf3ccd554855fd3d7ec96ec93f.svg" onmouseover="setreviewval(4);" onmouseout="setreviewval(4);" onclick="setreviewvaldef(4);$('#rating').val(4);$('#ratingform').show().attr('action',$('#ratingform').attr('action')+'#rating=4');" data-cms-original-src="/img/star.svg" />
                          <img src="//d1qmdf3vop2l07.cloudfront.net/honeydew-helicopter.cloudvent.net/compressed/f529a2fcd712a9631745e600ea854a0c.svg" onmouseover="setreviewval(5);" onmouseout="setreviewval(4);" onclick="setreviewvaldef(5);$('#rating').val(5);$('#ratingform').show().attr('action',$('#ratingform').attr('action')+'#rating=5');" data-cms-original-src="/img/star-empty.svg" />
                          <form method="POST" id="ratingform" action="/perfekte-turniervorbereitung/"><!--<input type="hidden" name="_cc" value="jhvanderschee@gmail.com" />--><input type="hidden" name="post" value="/perfekte-turniervorbereitung/" /><input id="rating" type="hidden" name="rating" value="" /><br />
                          <input type="text" name="comment" placeholder="Please clarify your score..." class="form-control" required="required" />
                          <div class="g-recaptcha" data-sitekey="6LfjdA8UAAAAANhznR3DZt0AolZ0xkFWeGZq_0AI" style="margin: 10px 0; padding: 0;"></div>
                          <input type="hidden" name="_encrypted_details" value="5f0eef8ca42a1c8d72a4720218a0548580f8025d92057bc0a7e01718e0b58de7b155a571" /></form>
                          </div>
	  
	   







	   
      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>